    <nav class="u-full-width">
      <a class="u-pull-left button" href="index.html">HOME</a>
      <a class="u-pull-right button" href="#">SIGN OUT</a>
    </nav>
    <div class="section hero">
      <div class="container">
        <div class="row" style="padding-bottom: 50px;"> 
          <div class="one-half column phones" style="padding-bottom: 50px;">
            <img class="phone" src="images/NOATS.png">
          </div>
          <div class="one-half column recipeColumn">
            <h2 class="value-multiplier">SEARCH FOR A RECIPE</h2>
            <h5 class="value-heading">Lets Find Something To Eat</h5>
            <input type="text" placeholder="Search.." id="recipe-searchbar"> <button id="recipe-searchbutton">Click Here</button>
          </div>
        </div>
        <div class="row">
          <div class="one-half column">
           <a class="logo" id="recipe-image-display"></a>
           <div id="recipe-text-display"></div>
          </div>
          <div class="one-half column myNoats">
            <h2 class="value-multiplier">My NOATS</h2>
            <h5 class="value-heading">Save, Share, Sizzle</h5>
            <textarea class="note-textarea u-full-width" placeholder="Put your Noats here!"></textarea>
            <button id="#" style="background-color: white;">Save Recipe</button>
            <button id="saveNotes" style="background-color: white">Save Noats</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script type="text/javascript" src="js/recipeCalls.js"></script>